In [6]:
import pandas as pd

PATH_MOVIES  = 'Material/introducao-a-data-science-aula0/aula0/ml-latest-small/movies.csv'
PATH_RATING= 'Material/introducao-a-data-science-aula0/aula0/ml-latest-small/ratings.csv'

df_movies    = pd.read_csv(PATH_MOVIES)
df_ratings   = pd.read_csv(PATH_RATING)

In [2]:
df_movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [8]:
df_ratings.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [11]:
df_ratings.query('movieId == 1').rating.mean()

3.9209302325581397